[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jax-metal = "*"
jaxlib = "==0.5.0"
flax = "*"
optax = "*"
orbax-export = "*"
orbax-checkpoint = "==0.11.0"

[dev-packages]

[requires]
python_version = "3.12"
